.topcontainer {
    display: flex;
    justify-content: space-between;
}

.buttons-container {
    display: flex;
    gap: 10px;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.add-btn-container {
    display: flex;
    gap: 10px;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: column;
}

.edit-btn-container {
    display: flex;
    gap: 10px;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: column;
}

.buttons-container button {
    height: auto;
    max-height: 50px;
}

.dados-container {
    flex-basis: 40%;
    flex-shrink: 0;
}

.btn {
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 5px;
}

.btn-primary {
    background-color: #4A90E2;
}

.btn-danger {
    background-color: #E94E77;
}

.btn-secondary {
    background-color: #AAB2BD;
}

.btn-success {
    background-color: #50E3A4;
}

.btn-warning {
    background-color: #F8E71C;
}

.btn-dark {
    background-color: #414345;
}

/* Add classes for SVG icons */
.btn-icon {
    margin-right: 5px;
}

.stage-name {
    font-weight: 600;
}

.total-display {
    text-align: right;
}


.title {
    font-size: 1.5em;
    cursor: pointer;
    border-bottom: 2px dashed transparent; // Add a transparent border to keep the layout consistent
    transition: border-bottom 0.3s; // Smooth transition for hover effect
}

.title:hover {
    border-bottom: 2px dashed #000; // Show a dashed underline on hover
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    border-bottom: 1px solid #ccc;
}

.flex-cell {
    flex: 1;
    padding: 10px;
    border-right: 1px solid #ccc;
}

.flex-cell:last-child {
    border-right: none;
}

.bg-light {
    background-color: #f0f0f0;
}


.sticky-header th {
    position: sticky;
    top: 0;
    background-color: #ebebeb;
    z-index: 10;
}

.tabela-header {
    margin-bottom: 2px;

}