.topcontainer {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}



.add-btn-container,
.edit-btn-container {
    display: flex;
    gap: 10px;
}

.buttons-container {

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.buttons-container button {
    height: auto;
}



.custom-btn:hover {
    background-color: #F5F5F5;
    /* light gray background on hover */
}

.icon {
    width: 60px;
    /* icon width */
    height: 60px;
    /* icon height */
    margin-bottom: 10px;
    /* spacing between icon and text */
    background-size: contain;
    background-repeat: no-repeat;
}

.dados-container {
    flex-basis: 40%;
    flex-shrink: 0;
    border: 1px solid #e9e9e9;
    /* Add a border for consistency */
    padding: 15px;
    /* Add some padding for aeration */
}


.btn {
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    box-shadow: none;
    /* Removing the shadow for a flatter design */
    transition: all 0.3s ease;
    /* Smooth hover transition */
}

.btn:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Adding shadow on hover for a lift effect */
}



.btn-limited {
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.btn-primary {
    background-color: #3e83d3;
}

.btn-danger {
    background-color: #E94E77;
}

.btn-secondary {
    background-color: #335a53;
}

.btn-success {
    background-color: #037544;
}

.btn-warning {
    background-color: #afa211;
}

.btn-dark {
    background-color: #414345;
}


.btn-icon {
    margin-right: 5px;

}

.btn-icon img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    /* this helps align the SVG in line with the text */
}

.fat-button {
background-color: #ebe9e5;
border-width: 1px;
border-color: #000;
color: #000;
display: flex;
gap: 10px;
padding: 20px;
justify-content: space-between;
max-width: 150px;
max-height: 150px;
flex-direction: column;
text-align: center;
flex-grow: 1;
aspect-ratio: 1 / 1;
width: 33%;
padding: 0;
align-items: center;
}

.fat-button img {
    fill: #000;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    
}


.add-btn-icon {
    padding-top: 15px;
}

.add-btn-text {
    padding-bottom: 15px;
}



.stage-name {
    font-weight: 600;
}

.total-display {
    text-align: right;
}


.title {
    font-size: 1.5em;
    cursor: pointer;
    border-bottom: 2px dashed transparent; // Add a transparent border to keep the layout consistent
    transition: border-bottom 0.3s; // Smooth transition for hover effect
}

.title:hover {
    border-bottom: 2px dashed #000; // Show a dashed underline on hover
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    border-bottom: 1px solid #ccc;
}

.flex-cell {
    flex: 1;
    padding: 10px;
    border-right: 1px solid #ccc;
}

.flex-cell:last-child {
    border-right: none;
}

.bg-light {
    background-color: #f0f0f0;
}


.sticky-header th {
    position: sticky;
    top: 0;
    background-color: #ebebeb;
    z-index: 10;
}

.tabela-header {
    margin-bottom: 2px;

}

.table-custom {
    margin-top: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}