.stage-actions {

    position: relative;
    top: 78px;
    /* Adjust based on your layout */
    left: 30px;
    /* Adjust based on your layout */
    height: 55px;
    margin: -43px -613px 0 0;
    /* Again, adjust based on your layout */
    padding: 5px;
    font-size: 30px;
    color: #ccc;
    z-index: 10;
}

.btn {
    display: inline-block;
    margin-bottom: 5px;
    padding: 10px;
}

.subdeck {
    display: flex;
    gap: 10px;

}