.topcontainer {
    display: flex;
    justify-content: space-between;
    border: 1px solid #e9e9e9;  /* Give a border for the top container */
}

.buttons-container {
    display: flex;
    gap: 15px;  /* Increase the gap for better spacing */
    align-items: center;
}

.add-btn-container,
.edit-btn-container {
    display: flex;
    gap: 10px;
}

.dados-container {
    flex-basis: 40%;
    flex-shrink: 0;
    border: 1px solid #e9e9e9;  /* Add a border for consistency */
    padding: 15px;  /* Add some padding for aeration */
}

.btn {
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    box-shadow: none;  /* Removing the shadow for a flatter design */
    transition: all 0.3s ease;  /* Smooth hover transition */
}

.btn:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* Adding shadow on hover for a lift effect */
}
